body{
    margin: 0;
    padding: 0;
    color: #ECECEC;
    font-family: Space Grotesk;
    background-color:#0F101D ;
    
}

.section1{
    background-color:#0F101D ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.R_soc{
    gap: 20px;
}

.nom {
    font-size: 21px;
}





/*section 2*/
.haut{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color:#d8d8d816 ;
    padding: 15px;
}


.sectoin2 {
    background: url(./assets/image/Bg.png);
    background-size: cover; /* Ensures the background image covers the entire section */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center; /* Centers the background image */
    width: 100%; /* Ensures the section takes the full width */
    height: 86vh; /* Makes the section take the full viewport height */
}


.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        gap: 40px;
}

.message h1 {
    padding: 10px;
    color: #F54B15;
    font-size: 18px;

}

.message h2{
    font-size: 40px;
    margin: 0;
}

.message span{
    color: #B4B4B4;
    font-size: 18;

}


.block{
    display: flex;
    padding: 12%;
    justify-content: center;
    padding: 0;
    
   
}


.caree{
    width:447.4545593261719px ;
    height:289px ;
    background-color: #C6C6C6;
    border-radius: 20px;
}



/*section3*/

.cercel{
    width: 66px;
    height: 66px;
    background-color: #F54B15;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    text-align: center;
    background-color: #ECECEC;
    color: black;
    padding: 22px;
    background: url(./assets/image/back2.png);
    background-size: cover; /* Ensures the background image covers the entire section */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center; /* Centers the background image */
    width: 100%; /* Ensures the section takes the full width */
    height: 45vh; /* Makes the section take the full viewport height */
}

.service{
    display: flex;
    padding: 80px;
    justify-content: center;
    gap: 40px;

}

.type{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/*section4*/

.crree2{

    
    width: 355.24px;
    height: 310px;
    background-color: #C6C6C6;
    border-radius: 10px;
}

.section4 {
    background: url(./assets/image/bacs4.png);
    background-size: cover; /* Ensures the background image covers the entire section */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center; /* Centers the background image */
    display: flex; /* Flexbox for layout */
    align-items: center; /* Vertically centers the content */
    justify-content: space-around; /* Distributes the items evenly */
    height: 70vh; /* Ensures the section takes up the full viewport height */
    padding: 20px; /* Adds padding around the content */
}

.left3{

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.right4{
    gap: 10px;
}

.cercle2{
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #C4C4C4;
}
 
.disc{
    display: flex;
        align-items: center;
}

.message4 h2{
    font-size: 18px;
    color: #B4B4B4;
}




@media screen and (max-width: 500px) {

}